@use "./scss/colors.scss" as c;
@use "./scss/mixins.scss" as m;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	body {
		background-color: var(--very-dark);
		min-height: 100vh;
		overflow-y: hidden;
		user-select: none;
		font-family: "Open Sans", sans-serif;
	}

	img {
		display: block;
		-webkit-user-drag: none;
	}

	::-webkit-scrollbar {
		width: 4px;
	}
	::-webkit-scrollbar-thumb {
		background-color: rgba(100, 100, 100, 0.63);
		border-radius: 3px;
	}

	.max {
		width: min(100%, 1500px);
		margin-inline: auto;
	}

	.my-max {
		width: min(100% - 20px, 500px);
		margin-inline: auto;
	}

	.my-full {
		width: min(100% - 10%);
		margin-inline: auto;
	}
	.name {
		color: white;
		font-weight: 500;
		font-size: clamp(0.8rem, 0.1rem + 1vw, 1rem);
	}
	.message {
		font-size: clamp(0.8rem, 0.1rem + 1vw, 0.9rem);
	}

	.main-bg {
		background-color: #232733;
		height: 100vh;
	}

	.gradient {
		background: linear-gradient(120deg, #262b38, #201d1bb4);
	}

	.owner-parent {
		align-items: flex-end;
		flex-direction: row-reverse;
		.owner {
			flex-direction: column-reverse;
			align-items: flex-end;
			p {
				border-top-right-radius: 1rem;
				border-top-left-radius: 1rem;
				border-bottom-left-radius: 1rem;
				background-color: #2e323e;
			}
		}
	}

	.coming-parent {
		align-items: flex-start;
		.coming {
			flex-direction: column;
			p {
				border-top-right-radius: 1rem;
				border-top-left-radius: 1rem;
				border-bottom-right-radius: 1rem;
				background-color: #272f47d2;
			}
		}
	}

	.active {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0px;
			width: 3px;
			border-radius: 10px;
			height: 18px;
			transform: translate(0%, -50%);
			background-color: green;
		}
	}

	.my-width {
		width: min(100% - 3.125rem, 31.25rem);
		margin-inline: auto;
		@media (min-width: 48em) {
			width: min(100% - 3.125rem, 59.375rem);
		}
	}

	.clamp-h1 {
		// font-size: clamp(2.7rem, 1rem + 2.7vw, 3rem);
		font-size: clamp(3rem, 1rem + 5vw, 3.5rem);
		line-height: 1.2;
	}
	.clamp2-h1 {
		font-size: clamp(3rem, 1rem + 5vw, 3.5rem);
		line-height: 1.2;
	}
	.clamp-p {
		font-size: clamp(1rem, 0.3rem + 1vw, 1.2rem);
	}

	.blur {
		background-color: rgba(255, 255, 255, 0);
		backdrop-filter: blur(4px);
	}
}

// ==========================

.container {
	position: relative;
	div {
		position: relative;
		input {
			opacity: 0;
			height: 0;
			// width: 0;
			visibility: hidden;
			top: 0;
			left: 0;
		}
	}
	.checkmark {
		background-color: grey;
		border: 1px solid #232733;
		border-radius: 3px;
		height: 20px;
		width: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-30%, -50%);
		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}
	input:checked ~ .checkmark {
		background-color: blue;
		&::after {
			display: block;
		}
	}
}

.container .checkmark {
	&:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
	}
}
